.work__section {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* height: 80vh; */
}

.workimage__area {
    background-image: url("../../../Assets/Images/Mask\ Group\ 33.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 50%;
}

.worktext__area {
    background-image: url("../../../Assets/Images/Rectangle\ 207.png");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    width: 50%;
    padding-left: 60px;
    padding-right: 170px;
    padding-top: 100px;
}

.worktext__area > h1 {
    color: #fff;
    font-weight: 400;
    padding-bottom: 20px;
}

.worktext__area > p {
    color: #fff;
    line-height: 30px;
}

.second__para {
    margin-top: 20px;
}

.worktext__area > button {
    background: #066FC0;
    color: #fff;
    border: 2px solid #fff;
    outline: none;
    padding: 10px 40px;
    margin-bottom: 30px;
    margin-top: 40px;
    cursor: pointer;
}

.worktext__area > button:hover {
    background-color: #fff;
    color: #066FC0;
    transition: 0.5s ease;
}

.worktext__area > button:not(:hover) {
    background: #066FC0;
    color: #fff;
    transition: 0.5s ease;
}

@media (min-width:801px) and (max-width:990px)  {
    .work__section {
        display: flex;
        flex-direction: row;
    }
    .workimage__area {
        background-size: cover;
        background-position: center center;
        width: 100%;
    }

    .worktext__area {
        padding-left: 30px;
        width: 100%;
        margin: 0 auto;
        padding-right: 70px;
        padding-top: 40px;
    }

    .worktext__area > button {
        padding: 8px 30px;
    }
}


@media (min-width:700px) and (max-width:800px)  {
    .work__section {
        display: flex;
        flex-direction: column;
    }
    .workimage__area {
        width: 100%;
        background-size: cover;
        background-position: center top;
        height: 430px;
    }

    .worktext__area {
        padding-left: 40px;
        width: 100%;
        margin: 0 auto;
        padding-right: 100px;
        padding-top: 40px;
    }

    .worktext__area > button {
        padding: 10px 40px;
    }
}


@media (min-width:601px) and (max-width:699px)  {
    .work__section {
        display: flex;
        flex-direction: column;
    }
    .workimage__area {
        width: 100%;
        background-size: cover;
        background-position: center top;
        height: 390px;
    }

    .worktext__area {
        padding-left: 30px;
        width: 100%;
        margin: 0 auto;
        padding-right: 70px;
        padding-top: 40px;
    }

    .worktext__area > button {
        padding: 8px 30px;
    }
}


@media (min-width:501px) and (max-width:600px) {

    .work__section {
        display: flex;
        flex-direction: column;
    }
    .workimage__area {
        width: 100%;
        height: 350px;
    }

    .worktext__area {
        padding-left: 30px;
        width: 100%;
        margin: 0 auto;
        padding-right: 20px;
        padding-top: 40px;
    }

    .worktext__area > button {
        padding: 8px 20px;
    }

}


@media (min-width:300px) and (max-width:500px) {
    .work__section {
        display: flex;
        flex-direction: column;
    }
    .workimage__area {
        width: 100%;
        height: 300px;
    }

    .worktext__area {
        padding-left: 20px;
        width: 100%;
        margin: 0 auto;
        padding-right: 20px;
        padding-top: 40px;
    }

    .worktext__area > button {
        padding: 8px 20px;
    } 
    
}