.banner {
    /* background-image: url("../../../Assets/Images/Group\ 333.png"); */
    background-size: cover;
    background-position:center center ;
    position: relative;
    object-fit: cover;
    height: 100vh;
    transition: 5s;
    
    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 12s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(0.2,0.25,0.23,2);
    
}

@keyframes animate {
    0%{
        background-image: url("../../../Assets/Images/Group\ 359@2x.png");
    }
    20%{
        background-image: url("../../../Assets/Images/Group\ 359@2x.png");
    }
    50%{
        background-image: url("../../../Assets/Images/Group\ 367.png");
    }
    100%{
        background-image: url("../../../Assets/Images/Group\ 333.png");
    }
}


@media (min-width:751px) and (max-width:990px) {

.banner {
    background-size: cover;
    background-position: left left;
}

}


@media (min-width:601px) and (max-width:750px)  {
    
    @keyframes animate {
        0%{
            background-image: url("../../../Assets/Images/green\ bg.png");
        }
        20%{
            background-image: url("../../../Assets/Images/green\ bg.png");
        }
        50%{
            background-image: url("../../../Assets/Images/purple\ bg.png");
        }
        100%{
            background-image: url("../../../Assets/Images/blue\ bg.png");
        }
    }
    
}



@media (min-width:401px) and (max-width:600px)  {
    
    @keyframes animate {
        0%{
            background-image: url("../../../Assets/Images/green\ bg.png");
        }
        20%{
            background-image: url("../../../Assets/Images/green\ bg.png");
        }
        50%{
            background-image: url("../../../Assets/Images/purple\ bg.png");
        }
        100%{
            background-image: url("../../../Assets/Images/blue\ bg.png");
        }
    }
    
}



@media (min-width:300px) and (max-width:400px) {
    
    @keyframes animate {
        0%{
            background-image: url("../../../Assets/Images/green\ bg.png");
        }
        20%{
            background-image: url("../../../Assets/Images/green\ bg.png");
        }
        50%{
            background-image: url("../../../Assets/Images/purple\ bg.png");
        }
        100%{
            background-image: url("../../../Assets/Images/blue\ bg.png");
        }
    }
    
}