.erf__wrapper {
    background-color: #f6f7fa;
}
.erf__inner p {
    font-size: 14px;
}
.bl-c {
    color: #079F80;
}
.fs-12 {
    font-size: 10px;
} 
.erf__button {
    width: fit-content;
    padding: 5px 30px;
    background-color: #066fc0;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    border: none;
    outline: none;

}