.cprofile__details {
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.cprofile__details h2 {
    font-weight: 400;
}

.cprofile__details button {
    background-color: #066FC0;
    padding: 10px 30px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    margin-top: 10px;
}


.order__tableContent {
    /* border-collapse: collapse; */
    border: 1px solid #ddd;
    margin: 25px 0;
    min-width: 600px;
    font-size: 12px;
}

.order__tableContent thead tr {
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;

}

.order__tableContent th ,
.order__tableContent td {
    padding: 12px 15px;
}

.order__tableContent tbody tr {
    border-bottom: 1px solid #ddd;
}

.order__status {
    background-color: #DFF4EF;
    padding: 2px 10px;
    text-transform: capitalize;
}