.cpMain__wrapper {
    width: 100%;
    height: fit-content;
    background-color: #EEEEEE;
    padding-bottom: 1px;
}

.cp__section {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 40px auto ;
    background-color: #fff;
}