@font-face {
    font-family: poppins;
    src: url(Assets/Fonts/Poppins-Regular.ttf);

  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: poppins;
  }
  button a{
    text-decoration: none !important;
    color: inherit !important;
  } 
  input{
    width: 100%;
    padding: 10px;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
    font-size: 14px !important;
  }
  input:focus{
    width: 100%;
    padding: 10px;
    border: 1px solid #066fc0;
    border-radius: 5px;
  }

 .input-error{
  padding: 10px 0px;
  font-size: 12px;
  color: orange;
 }
 .color-theme-green{
   color: #079F80;
 }
  .btn-theme-sm {
     padding: 7px 30px !important;
     font-size: 14px;
  }
  .btn-theme-default {
    background: #066fc0;
    padding: 10px 15px;
    color: white;
    border: 1px solid #066fc0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  .btn-theme-default:hover {
    background:white;
    padding: 10px 15px;
    color: #066fc0;
    border: 1px solid #066fc0;
  }
  .btn-theme-light {
    background: #EEEEEE;
    padding: 10px 15px;
    color: #6C6C6C;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  .btn-theme-light:hover {
    background:#066fc0;
    padding: 10px 15px;
    color: white;
    border: 1px solid #066fc0;
  }
  .btn-theme-white {
    background:white;
    padding: 10px 15px;
    color: #6C6C6C;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  .btn-theme-white:hover {
    background:#066fc0;
    padding: 10px 15px;
    color: white;
    border: 1px solid #066fc0;
  }
  .btn-theme-border-default {
    border: 1px solid #066fc0;
  }
  html, body {
    height: 100%;
  }
  #root , .app {
    height: 100%;
  }

  .app {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .mt-2 {
    margin-top: 20px;
  }

  /* buttons  */
  .buttonType__one {
    color: #fff;
    background-color: #066fc0;
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 5px 30px;
    cursor: pointer;
  }

/* containers  */
.wrapper__box {
  background-color: #F6F7FA;
}
.wrapper__innerBox {
  width: 80%;
  margin: 40px auto;
  background-color: #fff;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px -1px 5px 1px #f1f1f1;
}

#global-loader {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}
#global-loader text{
  display: block;
  font-size: 15px;
  padding: 9px 0px;
  color: gray;
}