.sp__banner {
    background-image: url("../../../Assets/Images/SupportUsBAnner.png");
    background-size: cover;
    background-position:center center ;
    position: relative;
    object-fit: cover;
    height: 60vh;
}
.sp__content {
    margin-left: 150px;
    padding-top: 100px;
    padding-bottom: 0px;
    height: fit-content;
    width: 550px;
}
.sp__content h1 {
    font-weight: 800;
    padding-bottom: 1.2rem;
    color: #066FC0;
}
.sp__content p {
    font-weight: 600;
    line-height: 30px;
}