.work__lowerBanner {
    background-image: url("../../../Assets/Images/WorkForUS\ lower\ banner.png");
    background-size: cover;
    background-position:center center ;
    position: relative;
    object-fit: cover;
    height: 100vh;
    padding: 70px 0;
}
.lowerBanner__inner {
    position: absolute;
    /* top: 0; */
    left: 50%;
    width: 500;
    padding-right: 130px;
}
.lowerBanner__inner h1 {
    font-weight: 400;
    padding-bottom: 10px;
}
.lowerBanner__inner p {
    padding-bottom: 10px;
}
.lowerBanner__inner button {
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #066fc0;
    padding: 10px 40px;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}