.cStory {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
}

.cStory h2 {
    font-weight: 400;
    padding-bottom: 20px;
}

.cStory p {
    width: 800px;
    text-align: center;
    padding-bottom: 30px;
}
.cStory button {
    border: none;
    outline: none;
    background-color: #066FC0;
    padding: 10px 40px;
    color: #fff;
    border-radius: 5px;
}