.slick-initialized .slick-slide{
    height: 270px;
}

.slick-initialized .slick-slide div{
    height: 100%;
}
/* Table */
.table>thead {
   
    background: #F4FAFF !important;
}
/* Table */
.table>thead>tr {
   
    background: #F4FAFF !important;
}
.table>thead>tr>th {
   
    font-size: 13px !important;
    padding: 15px 20px;
    font-weight: 500;
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: initial;
    border-width: 0;
}