.slick-initialized .slick-slide{
    height: 318px;
}

.slick-initialized .slick-slide div{
    height: 100%;
}
/* Table */
.table>thead {

    background: #F4FAFF !important;
    border-bottom: 1px solid #DEDEDE;
}
/* Table */
.table>thead>tr {

    background: #F4FAFF !important;
}
.table>thead>tr>th {

    font-size: 13px !important;
    padding: 15px 20px;
    font-weight: 500;
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: initial;
    border-width: 0;
}

.table>tbody>tr {

    border-bottom: 1px solid #ECECEC;
}
/* Tostyfy */

.Toastify{
    font-size: 14px;
}
.Toastify__toast--error{
    background-color: #ff0000b8;
}



.badge-danger {
    color: #F55656;
    background-color: #FFE2E2;
}
.badge-primary {
    color: #066FC0;
    background-color: #C7E1F5;
}
.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}
.badge-success {
    color: #079F80;
    background-color: #DFF4EF;
}
.badge-warning {
    color: #212529;
    background-color: #ffc107;
}
.badge-info {
    color: #fff;
    background-color: #17a2b8;
}
.badge-light {
    color: #212529;
    background-color: #f8f9fa;
}
.badge-dark {
    color: #fff;
    background-color: #343a40;
}


/* Pagination  */

.page-item .page-link{
    border: none;
    background: none;
    font-size: 15px;
}
.page-item.disabled .page-link{
    border: none;
    background: none;
}
.page-item .page-link{
    background-color: transparent;
    border-color : 'transparent';
    color: #A3A3A3;
    font-size: 15px;
}
.page-item.active .page-link{
    background-color: transparent;
    border-color : 'transparent';
    color: #066FC0;

}

/* Table */
.rdt_TableHeadRow{
    background-color: #F4FAFF !important;
}
.rdt_TableHeadRow .rdt_TableCol{
    padding-left: 30px;
}
.rdt_TableBody .rdt_TableRow .rdt_TableCell{
    padding: 15px 0px;
    padding-left: 30px;
    -webkit-align-items: baseline;
}

#test-details-content .test-details-item{
    display: flex;
    column-gap: 10px;
}
#test-details-content .test-details-item .test-details-item-icon{
    color: white;
    background: #066fc0;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    width: 50px;
    height: 50px;
    display: grid;
}


.wallet-detail-top{
    padding: 10px 10px;
    border-bottom: 1px solid #e2e2e2;
}
.wallet-detail-container{
    display: flex;
}
.wallet-detail-container .wallet-detail-item{
    width: 25%;
    background-color: white;
    padding: 30px 20px;
    text-align: center;
}
.wallet-detail-container .wallet-detail-item .item-amount{
    font-size: 25px;
    color: #383838;
    font-family: Arial;
    font-weight: 700;
    margin-bottom: 5px;
}
.wallet-detail-container .wallet-detail-item .item-amount .currency{
    font-size: 18px;
    margin-right: 3px;
}
.wallet-detail-container .wallet-detail-item .item-heading{
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    color: #a9a9a9;
}

.wallet-detail-container .wallet-detail-item:nth-child(4) , .wallet-detail-container .wallet-detail-item:nth-child(3) ,.wallet-detail-container .wallet-detail-item:nth-child(2){
  border-left: 1px solid #E2E2E2;
}

.hkcGBu {
    font-weight: 900 !important;
}
.sc-jrsJWt:hover{
    background-color: #e4f3ff;
    cursor: pointer;
}

/* font weights */

.f-w-100{
 
    font-weight: 100;
}
.f-w-200{
    font-weight: 200;
}
.f-w-300{
    font-weight: 200;
}
.f-w-400{
    font-weight: 200;
}
.f-w-500{
    font-weight: 200;
}
.f-w-600{
    font-weight: 200;
}
.f-w-700{
    font-weight: 200;
}
.f-w-800{
    font-weight: 200;
}
.f-w-900{
    font-weight: 900;
}