.slick-initialized .slick-slide{
    height: 318px;
}

.slick-initialized .slick-slide div{
    height: 100%;
}
/* Table */
.table>thead {
   
    background: #F4FAFF !important;
    border-bottom: 1px solid #DEDEDE;
}
/* Table */
.table>thead>tr {
   
    background: #F4FAFF !important;
}
.table>thead>tr>th {
   
    font-size: 13px !important;
    padding: 15px 20px;
    font-weight: 500;
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: initial;
    border-width: 0;
}

.table>tbody>tr {
   
    border-bottom: 1px solid #ECECEC;
}
/* Tostyfy */

.Toastify{
    font-size: 14px;
}
.Toastify__toast--error{
    background-color: #ff0000b8;
}



.badge-danger {
    color: #fff;
    background-color: #dc3545;
}
.badge-primary {
    color: #fff;
    background-color: #007bff;
}
.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}
.badge-success {
    color: #fff;
    background-color: #28a745;
}
.badge-warning {
    color: #212529;
    background-color: #ffc107;
}
.badge-info {
    color: #fff;
    background-color: #17a2b8;
}
.badge-light {
    color: #212529;
    background-color: #f8f9fa;
}
.badge-dark {
    color: #fff;
    background-color: #343a40;
}