@media (min-width : 1020px ) {
    .expert__grid{
        width: 95% !important ;
    }
}
@media (max-width : 1020px ) {
    .expert__grid{
        width: 95% !important ;
    }
}
@media (max-width : 700px ) {
    .expert__grid{
        width: 95% !important ;
    }
}

@media (max-width : 500px ) {
    .expert__grid{
        width: 95% !important ;
    }
    .click__menu{
        margin: 0px;
    }
    .evSec__header h2{
        padding-left: 15px;
        margin-bottom: 0px;
        padding-bottom: 20px;
        padding-top: 20px;
        font-size: 16px;
    }
    .HeaderLeftMenu{
        padding-right: 0px !important;
    }
    .HeaderLeftMenu button{
        font-size: 10px;
    }
    .navbar .logo__container{
        margin-left: 15px;
    }
    .navbar .logo__container img{
        width: 85px;
    }
    

    /* Expert Profile */
    .p__Section{
        display: block;
    }
    .profile__sidebar{
        width: 100%;
        border-right:none;
        border-bottom: 1px solid lightgray;
    }
    .profile__details{
        width: 100%;
    }
    .profile__details .info{
        width: 100%;
        padding-right: 0px;
    }
}

@media (max-width : 320px ) {
    .avatar__expimage{
        width: 130px;
        height: 130px;
    }
    .avatar__area .status__online{
        top: 12px;
    }
   
}