.footer {
    background-color: #fff;
    width: 100%;
    padding: 30px;
    text-align: center;
    margin-top: auto;
}

.footer > p {
    font-size: 13px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}