.profile__sidebar {
    height: auto;
    width: 27%;
    padding: 30px 10px;
    text-align: center;
    border-right: 1px solid lightgray;
}

.profile__avatar {
    height: 140px;
    width: 140px;
    margin: 0 auto;
    border: 1px solid #066FC0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__avatar > img {
    height: 120px;
    width: 120px;
}

.pUser__name {
    font-weight: 600;
    margin-top:20px ;
}

.user__bio {
    font-size: 14px;
}

.change__imgbtn {
    background-color: #066FC0;
    border: none;
    outline: none;
    color: #fff;
    padding: 6px 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.basic__details {
width: 100%;
display: flex;
flex-direction: row;
margin-top: 20px;
}

.basicLeft__sec, .basicRight__sec {
    width: 50%;
    display: flex;
    flex-direction:column;
    text-align: left;
    line-height: 30px;
    font-size: 13px;
}

.basicRight__sec {
    text-align: right;
} 

.basicRight__sec > button {
    margin-top: 8px;
    background-color: #066FC0;
    border: none;
    outline: none;
    color: #fff;
    padding: 5px 0px;
    width: 110px;
    font-size: 11px;
    margin-left: auto;
    border-radius: 5px;
}

.profile__sidebar > button {
    margin-top: 15px;
    margin-right: 10px;
    background-color: #066FC0;
    border: none;
    outline: none;
    color: #fff;
    padding: 5px 20px;
    font-size: 11px;    
    border-radius: 5px;
} 