@font-face {
    font-family: poppins;
    src: url(Assets/Fonts/Poppins-Regular.ttf);

  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
  }
  input{
    width: 100%;
    padding: 10px;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
  }
  input:focus{
    width: 100%;
    padding: 10px;
    border: 1px solid #066fc0;
    border-radius: 5px;
  }
  button {
    background: #066fc0;
    padding: 10px 30px;
    color: white;
    border: 1px solid #066fc0;
    border-radius: 5px;
    cursor: pointer;
  }
    button:hover {
    background:white;
    padding: 10px 30px;
    color: #066fc0;
    border: 1px solid #066fc0;
  }
  html, body {
    height: 100%;
  }
  #root , .app {
    height: 100%;
  }