.evSec__wrapper {
    background-color: #F6F7FA;
}

.evSec__header {
    width: 100%;
    height: 80px;
    background-color: #fff;
    padding: 0px 20px;
    box-shadow: 1px 1px 5px 0 #9897a9;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.evSec__header h2 {
    font-weight: 600;
    padding-left: 150px;
    padding-bottom: 20px;
    padding-top: 20px;
}

